#cal_table, #selection_div{
	border-collapse: collapse;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
}

#selection_div{
	position:absolute;
	border:3px solid green;
	background-color: #CFC;
	box-sizing: border-box;
	display: none;
}

#res_poe_detail_div{
	position:absolute;
	border:2px solid blue;
	background-color: #AAF;
	box-sizing: border-box;
	display: none;
	width: 200px;
	padding:3px;
}

#cal_table th{
	border:1px solid black;
	height:15px;
	width:100px;
}

#cal_table td{
	border:1px solid gray;
}

.cal_h{
	text-align:center;
	font-size:8px;
}

.cal_cell{
	opacity:0.7;
	background-color:#FFF;
	font-size: 7.5px;
}

.cal_cell[data-statut="0"]{
	background-color:#DDD;
}


.cal_cell[data-type="res_t"]{
	background-color:#BBF !important;
}
.cal_cell[data-type="ope_t_1"]{
	background-color:#CCF !important;
}
.cal_cell[data-type="ope_t_0"]{
	background-color:#DDF !important;
}


.cal_cell[data-type="res_s"]{
	background-color:#FBB !important;
}
.cal_cell[data-type="ope_s_1"]{
	background-color:#FCC !important;
}
.cal_cell[data-type="ope_s_0"]{
	background-color:#FDD !important;
}


#lesson_div{
    user-select: none;
    cursor: default;
}

.span_lesson{
	display: :inline-block;
	position:absolute;
	z-index: 201;
	box-sizing: border-box;	
	border-radius:4px;
	font-size: 7.5px;

    user-select: none;
    cursor: default;
	border:1px solid green;
}

.tiers{
	background-color:#DDD;
}

.mine{
	background-color:#FFF;
}

.span_lesson.non_editable{
}

.span_lesson.editable{
	border:2px solid green;
}

.editable.deleting{
	border:1px solid red;
	border-style: dashed;
}

.editable.creating{
	border:2px solid green;
	border-style: dashed;
}

#lesson_detail_span{
	position:absolute;
	left : 850px;
	top : 250px;
	width:200px;
	min-height: 200px;
	display: inline-block;;
	border:1px solid gray;
}